/* 이미지 컨테이너 */

.homepage-background-image {
    position: relative;
    width: 1116px;
    height: 502px;
    background-image: url('images/HompageImage.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
}

.overlay-text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px; 
    font-weight: bold;
    margin: 0;
}

.overlay-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    margin: 0;
    opacity: 0.8; 
}
